<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/defaults-zh_CN.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>html  ok  成功！欢迎你</h1>
    <div>
        <select class="selectpicker" multiple="multiple">
            <option value="1">广东省</option>
            <option value="2">广西省</option>
            <option value="3">福建省</option>
            <option value="4">湖南省</option>
            <option value="5">山东省</option>
        </select>
    </div>
</body>
</html>